.typeIn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.typeIn h2{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 10px 0;
    color: #fff;
}
.typeIn>div{
    width: 50%;
    min-width: 230px;
}
.input textarea{
    max-width: 70%;
    max-height: 60vh;
    background-color: inherit;
    color: #ffffff;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
}
.proNote{
    background-color: orchid;
    width: 80%;
    height: 90%;
    max-height: 80vh;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #000;
}